mat-card {
  width: 50%;
  margin: 0 auto;
  margin-top: 10vh;
  align-items: center;
}

input,
select,
button {
  width: 100%;
  padding: 5%;
}

div {
  display: flex;
  flex-direction: column;
  margin-bottom: 2vh;
}

.error {

  font-size: 10px;
  color: red;
  margin-bottom: 0;
}

.response {
  color: green;
}