* {
  width: 100%;
  margin: 0 auto;
}

.input {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0 auto;
  padding: 20px;
  align-items: center;
  width: 50%;

}

.input input {
  margin: 0 auto;
  padding: 10px;
  size: 50px;
  margin-bottom: 15px;
}

.table {
  width: 80%;
  word-wrap: break-word;
  word-break: break-all;
}

.demo-table {
  width: 100%;

}

.mat-column-demo-position {
  width: 32px;
  padding-right: 24px;
  text-align: center;
}

.mat-column-demo-name {
  width: 40%;
  margin: 0;
  padding: 0;
}


.mat-column-demo-symbol {
  width: 32px;
  text-align: center;

}

button {

  background-color: white;
  border: solid white;
  border-radius: 20px;
}

button:active {
  background-color: #d3cfce;
}

.paginator {
  position: relative;
  right: 0;
  margin-top: 20px;


}

@media only screen and (max-width:650px) {


  .mat-column-demo-position {
    width: 25%;

    padding-right: 2%;
    text-align: center;
  }


  .mat-column-demo-name {
    padding-left: 1.6%;

  }

  .mat-column-demo-symbol {
    max-width: 3%;
  }

  .mat-column-demo-weight {
    display: none;
  }

}